{
  "parser": "babel-eslint",
  "parserOptions": {
    "env": { 
      "es6": true 
    }, 
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}